@model SecretaryViewModel
@{
    ViewData["Title"] = "Secretary";
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}


@section Styles {
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <link href='/lib/fullcalendar/core/main.css' rel='stylesheet' />
    <link href='/lib/fullcalendar/daygrid/main.css' rel='stylesheet' />
    <link href="~/lib/fullcalendar/timegrid/main.css" rel="stylesheet" />
    <link href="~/lib/fullcalendar/list/main.css" rel="stylesheet" />
    <link href="~/lib/fullcalendar/bootstrap/main.css" />

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tempusdominus-bootstrap-4/5.0.1/css/tempusdominus-bootstrap-4.min.css" />
   
}

@foreach (var item in Model.Dentists)
{
    @if(item.Id==ViewBag.id)
    {
        <input type="hidden"  class="viewbag" id="@ViewBag.id" value="@item.Name @item.Surname" />
    }
}



<div class="modal fade" id="saveModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 style="color:#311b92" class="modal-title" id="exampleModalLabel">Online Randevu Bilgileri</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div  class="modal-body">
                <form asp-controller="Appointment" asp-action="AddOrUpdateAppointment" method="POST">
                    <input hidden id="apointmentId" />
                    <input hidden asp-for="PatientName" value="@Model.User.Name" />
                    <input hidden asp-for="PatientSurname" value="@Model.User.Surname" />
                    <input hidden asp-for="Tc" value="@Model.User.Tc" />
                    <input hidden asp-for="PhoneNumber" value="@Model.User.PhoneNumber" />
                  



                 
                 
                    <div class="row">
                        <div class="form-group col-md-6">
                            <label style="color:#311b92" class="form-control-label">Başlangıç Tarihi : </label>
                            <div class="input-group date" id="datetimepicker1" data-target-input="nearest">
                           
                                <input readonly   id="inputStartDate" asp-for="StartDate" type="text" class="form-control datetimepicker-input" data-target="#datetimepicker1" />
                                <div disabled class="input-group-append" data-target="#datetimepicker1" data-toggle="datetimepicker">
                                    <div  class="input-group-text"><i class="fa fa-calendar"></i></div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group col-md-6">
                            <label style="color:#311b92" class="form-control-label">Bitiş Tarihi : </label>
                            <div class="input-group date" id="datetimepicker2" data-target-input="nearest">
                                <input readonly id="inputEndDate" asp-for="EndDate" type="text" class="form-control datetimepicker-input" data-target="#datetimepicker2" />
                                <div class="input-group-append" data-target="#datetimepicker2" data-toggle="datetimepicker">
                                    <div disabled class="input-group-text"><i class="fa fa-calendar"></i></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-md-6">
                            <label style="color:#311b92" class="form-control-label"> Hasta Adı : </label>
                            <input disabled asp-for="PatientName" type="text" class="form-control" value="@Model.User.Name" />
                        </div>

                        <div class="form-group col-md-6">
                            <label style="color:#311b92" class="form-control-label ">Hasta Soyadı: </label>
                            <input disabled asp-for="PatientSurname" type="text" class="form-control" value="@Model.User.Surname" />
                        </div>
                      

                    </div>
                      <div class="row">
                        <div class="form-group col-md-6">
                            <label style="color:#311b92" class="form-control-label"> Hasta TC : </label>
                            <input disabled asp-for="Tc" type="text" class="form-control" value="@Model.User.Tc" />
                        </div>

                        <div class="form-group col-md-6">
                            <label style="color:#311b92" class="form-control-label ">Hasta Telefon: </label>
                            <input disabled asp-for="PhoneNumber" type="text" class="form-control" value="@Model.User.PhoneNumber" />
                        </div>
                      

                    </div>
                    <div class="row">
                        <div class="form-group col-md-3">
                            <label style="color:#311b92" class="form-control-label"> Seans Saati : </label>
                            <input disabled id="seans" asp-for="PaymentModel.Seans" type="text" class="form-control" />
                        </div>

                        <div class="form-group col-md-3">
                            <label  style="color:#311b92" class="form-control-label ">Seans Ücreti: </label>
                            <input disabled value="250 TL"  type="text" class="form-control" />
                        </div>
                        <div class="form-group col-md-6">
                            <label style="color:#311b92" class="form-control-label">Doktor Adı : </label>
                            @*<select asp-for="UserId" class="form-control" asp-items="@Model.DentistsSelectList">
                                <option value="0">Lütfen diş hekimini seçiniz.</option>
                            </select>*@
                           
                                  <input id="inputa" type="hidden" asp-for="UserId"  />
                                <input disabled id="inputb" class="form-control"  type="text"  />
                          
                          
                        </div>
                       
                    </div>
                 
                    <div class="modal-footer">
                        <input disabled style="width:179px;margin-right:90px;background-color:#311b92;color:aliceblue" id="price" type="text"/>
                        <button  type="button" class="btn btn-outline-danger" data-dismiss="modal">Kapat</button>
                        <button   type="submit" class="btn btn-outline-success">Oluştur</button>
                    </div>
                </form>
                
            </div>
           
        </div>
    </div>
</div>



<div class="row">
    <@*div class="col-md-5">
        <div class="card">

            <div class="card-body">
                <h4 class="text-muted">Sn. @Model.User.Name @Model.User.Surname</h4>
                <h5 class="card-title">Aktif Randevularınız</h5>
               @foreach (var item in Model.NewAppointment)
                {
                  
                    <span>@item.DoctorName  @item.StartDate.TimeOfDay - @item.EndDate.TimeOfDay</span><br />
                }
               
            </div>
        </div>
        <br />
      
    </div>*@
 
    <br /><br />
    
       <div class="col-md-3">
           <br />
        <div class="card">
            <div class="card-body">
                <h5 style="color:#0d6efd" class="card-title">Özel ODAK Danışmanlık Merkezi</h5>
                <h6 class="card-subtitle mb-2 text-muted">@Model.User.Name @Model.User.Surname</h6>
                <p class="card-text">Özel ODAK hastanesi randevu sistemine hoş geldiniz.</p>
                <a href="/Account/Logout" class="card-link">Çıkış Yap</a>
            </div>
        </div>
        <br />
        <ul class="list-group">
            @foreach (var item in Model.Dentists)
            {
                     <li id ="@item.Id" data-value="@item.Id" class="list-group-item x"> Dt. @item.Name @item.Surname<button class="btn btn-sm mt-2 pull-right x" style="background-color:@item.Color;"></button></li>

               
                    
                      
                    
                    <br />
            }

        </ul>
    </div> 
     <div  class="  col-md-8  mt-4" style="opacity:1">
        <div class="card">
            <div class="card-body ">
             <h3 style="color:#311b92" class="text-center">Online Randevu Tablosu</h3>
             <br />
                <div  id="calendar" >
                  
                </div>
            </div>
        </div>
    </div>
</div>




@section Scripts {
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment-timezone/0.5.28/moment-timezone-with-data-10-year-range.js"></script>
    <script src='~/lib/fullcalendar/core/main.js'></script>
    <script src='~/lib/fullcalendar/moment/main.js'></script>
    <script src='~/lib/fullcalendar/moment-timezone/main.js'></script>
    <script src="/lib/fullcalendar/daygrid/main.js"></script>
    <script src="~/lib/fullcalendar/timegrid/main.js"></script>
    <script src="~/lib/fullcalendar/list/main.js"></script>
    <script src="~/lib/fullcalendar/interaction/main.js"></script>
    <script src="~/lib/fullcalendar/bootstrap/main.js"></script>
    <script src="~/lib/fullcalendar/core/locales/tr.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/tempusdominus-bootstrap-4/5.0.1/js/tempusdominus-bootstrap-4.min.js"></script>
    <script>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/tempusdominus-bootstrap-4/5.0.1/js/tempusdominus-bootstrap-4.min.js"></script>
  
   
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            var calendarEl = document.getElementById('calendar');
            var selectedEvent = null;
            var events = [];
            var calendar = new FullCalendar.Calendar(calendarEl, {
                plugins: ['interaction', 'dayGrid', 'timeGrid', 'list', 'bootstrap', 'momentTimezone'],
                timeZone: 'Europe/Istanbul',
                themeSystem: 'bootstrap',
                bootstrapFontAwesome: {
                    dayGridMonth: 'calendar',
                    prev: 'fa-chevron-circle-left',
                    next: 'fa-chevron-circle-right',
                    listWeek: 'fa-list'
                },
                locale: 'tr',
                header: {
                    left: 'next, today',
                    center: 'title',
                    right: 'timeGridForFourDay'
                },
                //footer: {
                //    left: 'prevYear',
                //    right: 'nextYear'
                //},
                
                minTime: '08:00:00',
                maxTime: '18:00:00',
                 slotDuration: "01:00",

                snapDuration: '01:00',
                slotLabelFormat: {
                    hour: '2-digit',
                    minute: '2-digit',
                },
                fixedWeekCount: true,
                showNonCurrentDates: false,
                contentHeight: 280,
                defaultView: 'timeGridForFourDay',
                weekends: true,
                hiddenDays: [0],
                allDaySlot: false,
                titleFormat: {
                    year: 'numeric',
                    month: 'long',
                    day: 'numeric'
                },
                titleRangeSeparator: ' / ',
                columnHeaderFormat: {
                    weekday: 'long'
                },
                views: {
                    timeGridForFourDay: {
                        type: 'timeGrid',
                        duration: { days: 7 },
                        buttonText: 'Haftalık Görüntü'
                    }
                },
                eventTimeFormat: {
                    hour: '2-digit',
                    minute: '2-digit',
                },
                events: [],
                selectable: true,
                select: function (selectionInfo) {
                    console.log(selectionInfo);

                    selectedEvent = {
                        id: 0,
                        start: moment(selectionInfo.start),
                        end: moment(selectionInfo.end),
                        patientName: "",
                        patientSurname: "",
                        description: "",
                        dentistId: 0
                    }

                    openAddOrUpdateModal();
                },
               

                editable: true,
                eventDrop: function (dropEventInfo) {
                    var appointment = {
                        Id: dropEventInfo.event.id,
                        UserId: dropEventInfo.event.extendedProps.userId,
                        StartDate: moment(dropEventInfo.event.start).format('DD/MM/YYYY HH:mm'),
                        EndDate: moment(dropEventInfo.event.end).format('DD/MM/YYYY HH:mm'),
                        PatientName: dropEventInfo.event.extendedProps.patientName,
                        PatientSurname: dropEventInfo.event.extendedProps.patientSurname,
                        Description: dropEventInfo.event.extendedProps.description
                    }

                    saveAppointment(appointment);


                },
                eventResize: function (dropEventInfo) {
                    var appointment = {
                        Id: dropEventInfo.event.id,
                        UserId: dropEventInfo.event.extendedProps.userId,
                        StartDate: moment(dropEventInfo.event.start).format('DD/MM/YYYY HH:mm'),
                        EndDate: moment(dropEventInfo.event.end).format('DD/MM/YYYY HH:mm'),
                        PatientName: dropEventInfo.event.extendedProps.patientName,
                        PatientSurname: dropEventInfo.event.extendedProps.patientSurname,
                        Description: dropEventInfo.event.extendedProps.description
                    }

                    saveAppointment(appointment);
                },

            });

            calendar.render();
            getAppointments();

            $('#datetimepicker1, #datetimepicker2').datetimepicker({
                format: 'DD/MM/YYYY HH:mm'
            });

            function getAppointments() {
                $.ajax({
                    type: 'GET',
                    url: '/appointment/GetAppointments',
                    success: function (response) {
                        events = [];
                        var sources = calendar.getEventSources();
                        for (var i = 0; i < sources.length; i++) {
                            sources[i].remove();
                        }
                        for (var i = 0; i < response.length; i++) {
                            events.push({
                                id: response[i].id,
                          
                                patientName: response[i].patientName,
                                patientSurname: response[i].patientSurname,
                                start: response[i].startDate,
                                end: response[i].endDate,
                                description: response[i].description,
                               
                                userId: response[i].userId
                            });
                        }
                        calendar.addEventSource(events);
                    },
                    error: function () {
                        $('#saveModal').modal('hide');
                        alertify.error('Randevunuz eklenirken bir problem oluştu.');
                    }
                });
            }

            function getAppointmentsByDentist(dentistId) {
                document.getElementById("inputa").value =dentistId;
                $.ajax({
                    type: 'GET',
                    url: '/appointment/GetAppointmentsByDentist?userId=' + dentistId,
                    success: function (response) {
                        events = [];
                        var sources = calendar.getEventSources();
                        for (var i = 0; i < sources.length; i++) {
                            sources[i].remove();
                        }
                        for (var i = 0; i < response.length; i++) {
                            events.push({
                                id: response[i].id,
                              
                                patientName: response[i].patientName,
                                patientSurname: response[i].patientSurname,
                                start: response[i].startDate,
                                end: response[i].endDate,
                                description: response[i].description,
                                color: response[i].color,
                                userId: response[i].userId
                            });
                        }
                        calendar.addEventSource(events);
                    },
                    error: function () {
                        $('#saveModal').modal('hide');
                        alertify.error('Randevunuz eklenirken bir problem oluştu.');
                    }
                });
            }

            function openAddOrUpdateModal() {
                if (selectedEvent != null) {
                    $('#apointmentId').val(selectedEvent.id);
                    $('#inputStartDate').val(selectedEvent.start.format('DD/MM/YYYY HH:mm'));
                    
                    $('#inputEndDate').val(selectedEvent.end.format('DD/MM/YYYY HH:mm'));
                   
                    $('#patientName').val(selectedEvent.patientName);
                    $('#patientSurname').val(selectedEvent.patientSurname);
                    $('#inputDescription').val(selectedEvent.description);
                    $('#selectDentistId').val(selectedEvent.dentistId);

                    var x = (selectedEvent.end - selectedEvent.start)/3600000 +" Saat";
                    document.getElementById("seans").value=x;

                    var y = (selectedEvent.end - selectedEvent.start) / 3600000*250;
                    document.getElementById("price").value ="Toplam Tutar: "+ y +" TL";
                }

                $('#saveModal').modal();
            }

            function saveAppointment(data) {

                $.ajax({
                    type: 'POST',
                    url: '/appointment/AddOrUpdateAppointment',
                    data: data,
                    success: function (response) {
                        if (response === "200") {
                            getAppointments();
                            $('#saveModal').modal('hide');
                            data.Id === "0" ? alertify.success('Randevunuz başarıyla eklendi.') : alertify.success('Randevunuz başarıyla güncellenmiştir.');
                        } else {
                            $('#saveModal').modal('hide');
                            alertify.warning('Randevu eklenemedi.');
                        }
                    },
                    error: function () {
                        $('#saveModal').modal('hide');
                        alertify.error('Erişim sağlanamadı.');
                    }
                });
            }

            window.onload = function () {
                var id=document.querySelector(".viewbag").id;
                var name=document.querySelector(".viewbag").value;
                getAppointmentsByDentist(id);
                document.getElementById("inputa").value = id;
                document.getElementById("inputb").value = name;


            }
         
            $('.list-group-item').click(function () {
                $('.list-group-item').removeClass('active');
                $(this).addClass('active');
               
                getAppointmentsByDentist($(this).data('value'));
                $("#inputb").val($(this).text());
            });
           
            document.querySelector(".x").addEventListener("click",function(){
               var x= document.querySelector(".x");       
                var id = document.querySelector(".x").id;
            document.getElementById("inputa").value=id;
           
            });

            



            //if (@ViewBag.id== 1) {
            //    getAppointmentsByDentist("763a083a-17b3-406f-b976-10805691f6a0");      
            //    document.getElementById("inputa").value = "763a083a-17b3-406f-b976-10805691f6a0";
            //    document.getElementById("inputb").value = "Dr. Metin Yıldız";
            //}
            //if (@ViewBag.id== 2) {
            //    getAppointmentsByDentist("308d91c8-96ad-4ac0-8fb1-cb1be4a31804");
            //    document.getElementById("inputa").value = "308d91c8-96ad-4ac0-8fb1-cb1be4a31804";
            //    document.getElementById("inputb").value = "Dr. Yusuf Balık";
            //}
            //else{

            //}
           



        });

       

    </script>



   
}


